keys.txt
test.txt
packages
*/bin/
*/obj/
*/*/bin/
*/*/obj/
*/*.csproj.user
.vs/
artifacts
TestResults/
BenchmarkDotNet.Artifacts/
tests/UbiqSecurity.Profile/
tests/UbiqSecurity.Benchmark/
*.diagsession